.movie-card {
  background: var(--movie-card-bg);
  color: var(--font-color-primary);
  border-radius: var(--movie-card-radius);
  box-shadow: var(--movie-card-shadow);
  overflow: hidden;
  transition: transform 0.3s ease, background 0.3s ease;
  font-family: var(--font-family-main);
  width: 300px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  &:hover {
    transform: translateY(-5px);
    background: var(--movie-card-hover-bg);
  }

  .movie-poster {
    position: relative;
    width: 100%;
    aspect-ratio: 2/3;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.4s ease;
    }

    &:hover img {
      transform: scale(1.05);
    }

    .movie-overlay {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: flex;
      justify-content: flex-end;
      opacity: 0;
      transition: opacity 0.3s ease;

      .favorite-btn {
        background: none;
        border: none;
        color: var(--favorite-color);
        font-size: 1.6rem;
        cursor: pointer;
        transition: color 0.3s ease, transform 0.2s ease;

        &:hover {
          color: var(--favorite-hover);
          transform: scale(1.1);
        }

        .active{
        color: red;
      }
      }
      
    }

    &:hover .movie-overlay {
      opacity: 1;
    }
  }

  .movie-info {
    padding: 1rem;
    text-align: center;

    h3 {
      margin: 0.5rem 0 0.3rem;
      font-family: var(--font-family-accent);
    }

    p {
      color: var(--font-color-secondary);
      font-size: 0.9rem;
    }
  }
}
