.navbar{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
    justify-content:flex-end;

    .navbar-home-link{
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: capitalize;
        
    }

    .navbar-fav{
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: capitalize;
    }
}